# Node.js dependencies
node_modules/

# Electron output
out/

# Environment and config files
config.js

# Logs
logs/
*.log

# Backups
*-copy.js
backups/
backup-local.bat

# Output or temp
*.tmp
*.bak

# OS-specific
.DS_Store
Thumbs.db

# System/Editor temp
*.swp

# IDEs
.vscode/
.idea/
